html, body {
    box-sizing: border-box;
}

body {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Comfortaa', cursive;
}

#dashWord {
    font-size: 60px;
    margin: auto;
}

#imgGuessNotify {
    /* position: absolute; */
    display: flex;
    justify-content: center;
}

#guessesLeft, #winLose, #tryAgain {
    font-size: 20px;
    margin: 20px;
    text-align: left;
}

#guessNotifyContainer {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #f07f5d;
}

button.alphButton {
    width: 40px;
    height: 40px;
    background-color: #abccbe;
}

#alphabetButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
    gap: 10px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

img {
    width: 300px;
    margin: auto;
}
